* {
    background-color: rgb(75, 0, 0);
    color: rgba(255, 255, 255, 0.815);
    font-family: 'Gwendolyn';
    font-size: large;
}

h1{
    color: rgb(255, 253, 112);
}

.question{
    color: rgba(169, 255, 129, 0.849);
}

button{
    margin: 1em;
    border-radius: 0.5em;
    border-color: rgba(255, 255, 255, 0.815);
}