.question {
    color: rgba(169, 255, 129, 0.849);
}

* {
    background-color: rgb(75, 0, 0);
    color: rgba(255, 255, 255, 0.815);
    font-family: 'Gwendolyn';
}

html, body {
    min-height: 100vh;
    margin: 0%;
}

h1 {
    color: rgb(255, 253, 112);
}


button {
    margin: 1em;
    border-radius: 0.5em;
    border-color: rgba(255, 255, 255, 0.815);
    font-size: 2.0vh;
}

div {   
    min-height: 100vh;
    font-size: 2.0vh;
}
